<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <title>BloodBuddy</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />
  <style src="stylesheets/main.css"></style>
  <link rel="icon" type="image/x-icon" href="assets/happy_blood.ico">

</head>

<body>
  <h1>Notifications</h1>
  <button id="enable" onclick="askNotificationPermission()">Enable notifications</button>
  <button id="sendNotification">Send Notification</button>

  
</body>
<footer>
  <script src = "scripts/notif.js"></script>
  <script src="scripts/client.js"></script>
</footer>
</html>